gitlab:
  enabled: true
  host: "https://gitlab.com"
  personal_access_token: ""
github:
  enabled: true
  host: "https://api.github.com"
  personal_access_token: ""
git:
  clone: "http"
path:
  target: "repos"